

 <!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book Your Treatment Today!</h2>
            <p class="cs-text">
                Book your treatment and embark on a journey of self-care and restoration.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule Now</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/banners/internal-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banners/internal.webp">
        <img loading="lazy" decoding="async" src="/assets/images/banners/internal.jpg" alt="massage oils" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                                               
                                
                                