
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Book your Massage Today!</h2>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule Now</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p"> 
                Monday - Sunday: 10 am - 9pm
            </p>
            <p class="cs-p">
                Appointments Preferred, Walk-Ins Welcome.<br>
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/banners/internal-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banners/internal.webp">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/banners/internal.jpg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>
                                
                                                               
                                
                                