---
title: 'About'
description: "Discover SookJai's journey of bringing traditional Thai massage techniques to Sittingbourne. Learn about our skilled therapists and commitment to your well-being."
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.webp" alt="massage oils" width="1280" height="568" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-336">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Big Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/side/couples-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/side/couples.webp">
                <img loading="lazy" decoding="async" src="/assets/images/side/couples.jpg" alt="couples massage" width="542" height="720" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">About SookJai Thai Massage</h2>
            <p class="cs-text">
                Welcome to SookJai Thai Massage, where we bring the authentic healing art of Thai massage to the heart of Sittingbourne. Our story is one of tradition, passion, and a commitment to holistic well-being.
            </p>
            <p class="cs-text">
                Founded by May, SookJai Thai Massage is born from a deep-rooted love for Thai healing practices. Our founder's journey in Thai massage began in Thailand, where the art has been perfected over centuries. This rich heritage instilled in her a profound appreciation for the healing power of touch and the ancient wisdom of Thai massage.
            </p>
            <p class="cs-text">
                Driven by a desire to share the benefits of Thai massage with a new community, May brought this time-honored practice to Sittingbourne. Since our establishment, SookJai Thai Massage has become a beacon of authentic Thai wellness in the area.
            </p>
            <p class="cs-text">
                At SookJai, our mission is to introduce and promote the numerous benefits of genuine Thai massage to people in Sittingbourne and beyond. We've created a serene and welcoming environment where our clients can experience profound relaxation, rejuvenation, and healing.
            </p>
            <p class="cs-text">
                When you visit SookJai Thai Massage, you can expect to be greeted with warm Thai hospitality, treated with the utmost care and respect, and leave feeling refreshed, renewed, and balanced. We're not just offering a service; we're sharing a piece of our cultural heritage and inviting you to experience the transformative power of authentic Thai massage.
            </p>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}