---
title: 'Massages'
description: 'Indulge in a variety of massage treatments at our Ludgershall spa. From Thai massage to targeted relief, our skilled therapists help you relax and rejuvenate. Book now!'
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.jpg" alt="candles and oils" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Unwind with Our Signature Massage Treatments</h2>
            <p class="cs-text">
                Our skilled therapists are committed to helping you relax, rejuvenate, and find relief from stress and tension. Whether you seek targeted relief or a pampering experience, we have the perfect massage for you.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">30 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        A full-body massage with warm oils and rhythmic strokes for relaxation and flexibility.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sport Massage</span>
                        <span class="cs-price">£45</span>
                    </h3>
                    <p class="cs-menu-text">
                        A targeted massage using deep pressure to relieve muscle tension and improve athletic performance.
                    </p>
                </li>
                
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/thai2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/thai2.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/thai2.jpg" alt="thai massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">60 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        A full-body massage with warm oils and rhythmic strokes for relaxation and flexibility.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sport Massage</span>
                        <span class="cs-price">£65</span>
                    </h3>
                    <p class="cs-menu-text">
                        A targeted massage using deep pressure to relieve muscle tension and improve athletic performance.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Body Scrub Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        A rejuvenating treatment combining massage with exfoliating natural ingredients to leave skin soft and glowing.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        A soothing massage using heated smooth stones to penetrate deep into muscles, promoting relaxation and easing tension.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couple's Massage</span>
                        <span class="cs-price">£110</span>
                    </h3>
                    <p class="cs-menu-text">
                        A shared relaxation experience where two people receive massages side-by-side, often in a romantic setting.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/deep-tissue.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/deep-tissue.jpg" alt="deep tissue" width="521" height="640">
        </picture>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">90 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        A full-body massage with warm oils and rhythmic strokes for relaxation and flexibility.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression to relieve tension and enhance energy flow.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sport Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        A targeted massage using deep pressure to relieve muscle tension and improve athletic performance.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Body Scrub Massage</span>
                        <span class="cs-price">£105</span>
                    </h3>
                    <p class="cs-menu-text">
                        A rejuvenating treatment combining massage with exfoliating natural ingredients to leave skin soft and glowing.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£105</span>
                    </h3>
                    <p class="cs-menu-text">
                        A soothing massage using heated smooth stones to penetrate deep into muscles, promoting relaxation and easing tension.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couple's Massage</span>
                        <span class="cs-price">£160</span>
                    </h3>
                    <p class="cs-menu-text">
                        A shared relaxation experience where two people receive massages side-by-side, often in a romantic setting.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/hot-stone2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/hot-stone2.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/hot-stone2.jpg" alt="hot stone massage" width="521" height="640">
        </picture>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}