---
title: 'Massages'
description: "Explore SookJai's range of massage treatments, from authentic Thai to contemporary techniques. Find the perfect therapy for relaxation, pain relief, and rejuvenation."
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.webp" alt="massage oils" width="1280" height="568" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1849">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Popular</span>
            <h2 class="cs-title">Unwind with Our Diverse Massage Treatments</h2>
            <p class="cs-text">
                Our skilled therapists are dedicated to helping you relax, rejuvenate, and find relief from stress and tension. Drawing on a variety of techniques from around the world, including authentic Thai methods, we offer a range of massage treatments tailored to your needs. Whether you're seeking targeted relief, overall relaxation, or a unique wellness experience, we have the perfect massage for you. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/oil.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="Thai Oil Massage" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Thai Oil Massage</h3>
                    <span class="cs-ages">30 Mins £40<br>60 Mins £60<br>90 Mins £85</span>
                    <p class="cs-item-text">
                        A full-body massage with warm oils and rhythmic strokes for deep relaxation, improved flexibility, and overall stress relief.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="Traditional Thai Massage" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Traditional Thai Massage</h3>
                    <span class="cs-ages">30 Mins £40<br>60 Mins £60<br>90 Mins £85</span>
                    <p class="cs-item-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression for tension relief, improved flexibility, and enhanced energy flow.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/sports.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/sports.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/sports.jpg" alt="Sport Massage" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Sport Massage</h3>
                    <span class="cs-ages">30 Mins £45<br>60 Mins £65<br>90 Mins £90</span>
                    <p class="cs-item-text">
                        A targeted massage using deep pressure techniques for muscle tension relief, improved athletic performance, and faster recovery.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/scrub.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/scrub.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/scrub.jpg" alt="Body Scrub Massage" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Body Scrub Massage</h3>
                    <span class="cs-ages">30 Mins N/A<br>60 Mins £85<br>90 Mins £105</span>
                    <p class="cs-item-text">
                        A rejuvenating treatment combining massage with exfoliating natural ingredients to leave skin soft and glowing.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/hotstone.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/hotstone.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/hotstone.jpg" alt="Hot Stone Massage" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Hot Stone Massage</h3>
                    <span class="cs-ages">30 Mins N/A<br>60 Mins £85<br>90 Mins £105</span>
                    <p class="cs-item-text">
                        A soothing massage using heated smooth stones to penetrate deep into muscles, promoting relaxation and easing tension.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/couples.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/couples.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/couples.jpg" alt="Couple's Massage" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Couple's Massage</h3>
                    <span class="cs-ages">30 Mins N/A<br>60 Mins £110<br>90 Mins £160</span>
                    <p class="cs-item-text">
                        A shared relaxation experience for two, featuring side-by-side massages for mutual stress relief and enhanced well-being.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}