/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1849 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            z-index: 1;
        }

        .cs-title {
            max-width: none;
        }

        .cs-ages {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            color: var(--secondary);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 264px - 350px, changes to a different clamp on tablet */
            padding-top: clamp(16.5rem, 75vw, 21.875rem);
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            position: relative;
            z-index: 1;

            &:hover {
                cursor: pointer;
                .cs-picture {

                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            width: 90vw;
            max-width: (413/16rem);
            height: 90vw;
            max-height: (413/16rem);
            box-sizing: border-box;
            background-color: #f7f7f7;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            border: 10px solid #f7f7f7;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-text-box {
            text-align: center;
            /* 16px - 24px */
            padding: clamp(1rem, 3.5vw, 1.5rem);
            background-color: #F7f7f7;
            border-radius: (24/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (16/16rem);
            z-index: 1;
            align-self: stretch;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 120%;
            width: 100%;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
        }

    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1849 {

        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
            row-gap: (48/16rem);
        }

        .cs-item {
            /* 160px - 350px */
            padding-top: clamp(10rem, 25vw, 21.875rem);
            grid-column: span 4;
        }

        .cs-picture {
            width: 100%;
            height: auto;
            aspect-ratio: 1;
        }

        .cs-text-box {
            height: 100%;
        }
    }
}
    
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #services-1849 {
        .cs-graphic1 {
            margin-right: (400/16rem);
            left: auto;
            right: 50%;
        }

        .cs-graphic2 {
            margin-left: (420/16rem);
            right: auto;
            left: 50%;
        }
    }
}
    
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1849 {
            background-color: rgba(0, 0, 0, .2);

            &:before {
                display: none;
            }

            .cs-title, .cs-text, .cs-item-text, .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-item-text {
                opacity: .8;
            }

            .cs-text-box {
                background-color: var(--dark);
                position: relative;
                overflow: hidden;
                z-index: 1;
                transition: background-color .3s;

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: var(--medium);
                    opacity: .6;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-background {
                display: none;
            }

            .cs-picture { 
                border: 10px solid var(--medium);
            }

            .cs-topper {
                color: var(--secondary);
            }
        }
    }
}




/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-337 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-image-group {
            /* scaling entire section down. font-size starts at a min in vw, and stops  when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
            font-size: ~"min(2.08vw, .791em)";
            width: (686/16em);
            height: (672/16em);
            position: relative;
            /* flips it horizontally */
            transform: scaleX(-1);
        }

        .cs-picture {
            border-radius: 50%;
            border: clamp(6px, 1.2vw, 12px) solid #fff;
            /* clips the img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* flips it so its the original orientation, undoing the flip on the parent container */
                transform: scaleX(-1);
            }
        }

        .cs-picture1 {
            width: (672/16em);
            height: (672/16em);
        }

    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-337 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-image-group {
            /* reset the scale */
            font-size: ~"min(1.2vw, 1em)";
            /* prevent flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-content {
            width: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-337 {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-picture,
            .cs-box {
                border-color: var(--accent);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Process           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #process-687 {
        padding: var(--sectionPadding);
        /* Centers button */
        text-align: center;
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: .8;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            column-gap: (20/16rem);
            row-gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
        }

        .cs-picture {
            width: (100/16rem);
            height: (100/16rem);
            margin: auto;
            margin-bottom: (24/16rem);
            border-radius: 50%;
            background-color: #fdfaf8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: auto;
            height: (38/16rem);
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            font-weight: 700;
            margin: 0;
            margin-bottom: (12/16rem);
            color: #fff;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.02;
            /* Makes img tag act as a background image */
            object-fit: cover;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #process-687 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #process-687 {
            background-color: #1a1a1a;
        }

        .cs-topper {
            color: var(--secondary);
        }
    }
}
                                


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-336 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-image-group {
            font-size: ~"min(2.08vw, .791em)";
            width: (686/16em);
            height: (672/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: 50%;
            border: clamp(6px, 1.2vw, 12px) solid #fff;
            /* clips the img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: (672/16em);
            height: (672/16em);
        }


    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-336 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-image-group {
            /* reset the scale */
            font-size: ~"min(1.2vw, 1em)";
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-content {
            width: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-336 {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-picture,
            .cs-box {
                border-color: var(--accent);
            }
        }
    }
}


/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1505 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        background-color: #fff;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 6vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 5vw, 3rem);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            /* changed at desktop */
            grid-template-columns: repeat( auto-fit, minmax(17rem, 1fr) );
            /* 16px - 20px */
            gap: clamp(1rem, 1.7vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            margin: 0;
            padding: (32/16rem);
            background-color: #fff;
            border: 1px solid #E8E8E8;
            border-radius: (32/16rem);
        }

        .cs-number {
            font-size: (49/16rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--primary);
            /* 8px - 72px */
            margin: 0 0 clamp(.5rem, 6vw, 4.5rem);
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            margin: 0;
        }

        .cs-image-group {
            position: relative;
            overflow: hidden;
            border-radius: (20/16rem);
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 376px */
            height: clamp(15rem, 46vw, 23.5rem);
            display: block;
            position: relative;
            border-radius: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-faq-group {
            width: 100%;
            max-width: (650/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #fff;
            border: 1px solid #E8E8E8;
            /* 24px - 32px */
            border-radius: clamp(1rem, 2.4vw, 2rem);
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-color .3s;

            &.active {
                border-color: var(--secondary);
                .cs-button {
                    color: var(--secondary);
                    .cs-indicator {
                        &:before {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            background-color: #fff;
            border: none;
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            transform-style: preserve-3d;
            perspective: 700px;
            transition: background-color .3s, color .3s;

            &:hover {
                cursor: pointer;
            }

            .cs-indicator {
                /* 40px - 48px */
                width: clamp(2.5rem, 4vw, 3rem);
                height: clamp(2.5rem, 4vw, 3rem);
                background-color: #fff;
                border: 1px solid #BABABA;
                border-radius: 50%;
                position: relative;
                z-index: 1;

                &:before {
                    /* left line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: transform .5s;
                }
    
                &:after {
                    /* right line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    transition: transform .5s;
                }
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition: opacity .3s, padding-bottom .3s;
        }

        .cs-top {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        .cs-bottom {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1505 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            max-height: (616/16rem);
            width: 40%;
            text-align: left;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-card-group {
            /* pushes up against the other flex items so it pushes to the bottom of the flexbox */
            margin-top: auto;
            grid-template-columns: 1fr 1fr;
        }

        .cs-item {
            grid-column: span 1;
        }
    }
}

/* Larger Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #faq-1505 {
        .cs-floater {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1505 {
            background-color: #121212;
            
            .cs-title, .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-number {
                color: var(--secondary);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-item-text {
                color: var(--bodyTextColorWhite);
                opacity: .8;
            }

            .cs-faq-item {
                background-color: rgba(255, 255, 255, .1);
                border-color: rgba(255, 255, 255, .2);
                &.active {
                    .cs-button {
                        &:before, &:after {
                            background-color: var(--bodyTextColorWhite);
                        }
                    }
                }
            }

            .cs-button {
                background-color: transparent;
                color: var(--bodyTextColorWhite);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-indicator {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-top, .cs-bottom {
                path {
                    fill: var(--dark);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-354 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* 24px - 32px top & bottom */
            /* 16px - 40px left & right */
            padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
        }

        .cs-quote {
            width: (40/16rem);
            height: auto;
            margin-bottom: (32/16rem);
            display: block;
        }

        .cs-review {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 2vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            /* 20px - 40px */
            margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-354 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-354 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--accent);
            }

            .cs-review,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }
        }
    }
}



                                       
                                




                                

                                

                                

                                

                                
