---
title: 'Massage'
description: 'Experience authentic Thai and other massage therapies at SookJai in Sittingbourne. Relax, rejuvenate, and find relief with our skilled therapists. Book your session today.'
preloadImg: '/assets/images/hero/hero5.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1469">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Authentic Thai Massage in Sittingbourne</h1>
            <p class="cs-text">
                Uncover the secrets of relaxation and renewal at SookJai Thai Massage. Let our expert therapists introduce you to the ancient practices of traditional Thai massage in Sittingbourne, providing a peaceful retreat from the demands of everyday life.
            </p>
            <a class="cs-button-solid" href="{{client.onlineBooking}}" target="_blank" rel="noopener">Schedule Now</a>
        </div>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero/hero.webp">
        <img decoding="async" src="/assets/images/hero/hero.webp" alt="massage" width="2250" height="1500" aria-hidden="true">
    </picture>
    <!--SVG Curve-->
    <svg class="cs-curve" width="1920" height="136" viewBox="0 0 1920 136" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#fff"/>
    </svg>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1849">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Popular</span>
            <h2 class="cs-title">Popular Massage Treatments at SookJai Thai Massage</h2>
            <p class="cs-text">
                We offer a variety of massage therapies, each with its own benefits and techniques. From authentic Thai massage to soothing hot stone treatments, our range caters to diverse needs and preferences. Let us help you find the perfect massage for your body and mind.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="person" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Traditional Thai Massage</h3>
                    <span class="cs-ages">30 Mins £40<br>60 Mins £60<br>90 Mins £85</span>
                    <p class="cs-item-text">
                        Ancient healing with acupressure, stretching, and rhythmic compression for tension relief, improved flexibility, and enhanced energy flow.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/sports.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/sports.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/sports.jpg" alt="person" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Sport Massage</h3>
                    <span class="cs-ages">30 Mins £45<br>60 Mins £65<br>90 Mins £90</span>
                    <p class="cs-item-text">
                        A targeted massage using deep pressure techniques for muscle tension relief, improved athletic performance, and faster recovery.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/services/hotstone.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/services/hotstone.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/services/hotstone.jpg" alt="person" width="500" height="750">
                </picture>
                <div class="cs-text-box">
                    <h3 class="cs-h3">Hot Stone Massage</h3>
                    <span class="cs-ages">30 Mins N/A<br>60 Mins £85<br>90 Mins £105</span>
                    <p class="cs-item-text">
                        A soothing massage using heated smooth stones to penetrate deep into muscles, promoting relaxation and easing tension.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbsr-337">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Big Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/side/oil-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/side/oil.webp">
                <img loading="lazy" decoding="async" src="/assets/images/side/oil.jpg" alt="cleaning supplies" width="672" height="672"  aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Thai Oil Massage</h2>
            <p class="cs-text">
                Experience the ultimate in relaxation with our Thai Oil Massage, a harmonious blend of ancient Thai techniques and the soothing power of aromatherapy oils. This treatment combines gentle kneading, smooth gliding strokes, and targeted pressure along the body's energy meridians.
            </p>
            <p class="cs-text">
                Unlike traditional Thai massage, our oil-based version allows for a more fluid, rhythmic experience. The carefully selected oils not only reduce friction but also nourish your skin, leaving it soft and glowing. 
            </p>
            <p class="cs-text">
                As our skilled therapists work their magic, you'll feel tension melt away and a sense of deep calm wash over you.
            </p>
            <a class="cs-button-solid" aria-label="learn more about oil massage" href="/thai-oil/">Thai Oil Massage</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Process                    -->
<!-- ============================================ -->

<section id="process-687">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Us</span>
            <h2 class="cs-title">Why Choose SookJai Thai Massage?</h2>
            <p class="cs-text">
                At SookJai Thai Massage, we are devoted to delivering exceptional service with authentic Thai authenticity and expertise. Our dedication to your well-being and relaxation sets us apart.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/house.svg" alt="house icon" width="42" height="42">
                </picture>
                <h3 class="cs-h3">Thai Authenticity</h3>
                <p class="cs-item-text">At SookJai, immerse yourself in a genuine Thai experience. From our decor and soothing melodies to aromatic scents, every detail is crafted to transport you to Thailand</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/cert.svg" alt="certificate icon" width="42" height="42">
                </picture>
                <h3 class="cs-h3">Expert Thai Therapists</h3>
                <p class="cs-item-text">Our team consists of certified professionals who have trained extensively in Thailand. Their deep understanding of traditional techniques ensures an authentic and effective massage experience.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/thai.svg" alt="thai icon" width="32" height="42">
                </picture>
                <h3 class="cs-h3">Personalised Treatments</h3>
                <p class="cs-item-text">We recognize that every client is unique. Our therapists carefully tailor each session to your specific needs and preferences, ensuring a truly personalised and effective treatment.</p>
            </li>
        </ul>
    </div>
    <!--SVG Waves-->
    <img class="cs-background" loading="lazy" decoding="async" src="/assets/svgs/ripple.svg" aria-hidden="true" alt="svg waves" width="1280" height="568">
</section>
                                




<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-336">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Big Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/side/couples-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/side/couples.webp">
                <img loading="lazy" decoding="async" src="/assets/images/side/couples.jpg" alt="couples massage" width="542" height="720" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Couples Massage</h2>
            <p class="cs-text">
                Our Couples Massage offers a unique opportunity to relax and unwind together. In a tranquil room designed for two, you and your partner can enjoy simultaneous massages side by side. Each person receives individualized attention from their own skilled therapist, ensuring that both participants' specific needs are met.
            </p>
            <p class="cs-text">
                This shared experience goes beyond just physical relaxation. It's a chance to reconnect, destress, and create a moment of calm togetherness. Whether you're celebrating a special occasion or simply taking time out from a busy schedule, our Couples Massage provides a peaceful retreat. 
            </p>
            <a class="cs-button-solid" aria-label="learn more about couples massage" href="/couples-massage/">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1505">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ's</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/faq-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/faq.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/faq.jpg" alt="Massage oils" width="586" height="376">
                </picture>
            </div>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your operating hours?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        We are open 7 days a week from 10AM to 9PM.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I need to make an appointment, or do you accept walk-ins?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        While we do accept walk-ins subject to availability, we highly recommend making an appointment to ensure your preferred time slot and treatment.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you offer any discounts or promotions?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        We occasionally offer seasonal promotions and discounts. Please check our website to stay informed about current offers.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What if I have specific health concerns?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Please inform your therapist of any health concerns, injuries, or medical conditions before your massage. Our therapists can adapt techniques to ensure a safe and beneficial experience.
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-354">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Are Saying</h2>
            <p class="cs-text">
                Discover the unique SookJai difference by hearing from our happy clients. Our dedication to individualised attention has brought relaxation, comfort, and renewal to numerous clients in Sittingbourne.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/gold-quote.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    My partner and I came today for a couples massage, you ladies are wonderful. Thank you so much for an amazing hour full body massage, cracking and getting deep into our muscles. We are both feeling great after being so tense. Definitely would recommend and will defo be coming back.
                </p>
                <span class="cs-name">Gemma Stanley</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/gold-quote.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    A wonderful, delightful, deep tissue massage with my therapist the lovely Nat. Her skilful techniques including kneading, rolling and deep pressure applied to precise points on my body felt extremely satisfying. The whole hour with Nat was exhilarating, I left feeling so refreshed. 
                </p>
                <span class="cs-name">Ashley Nunes</span>
            </li>
        </ul>
    </div>
</section>
                                             


<script>const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
    for (const item of faqItems) {
        const onClick = () => {
        item.classList.toggle('active')
    }
    item.addEventListener('click', onClick)
    }
</script>                 

    {% include 'components/cta.html' %}
{% endblock %}